.container1 {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto;
}

.container2 {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto;
}

.container3 {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto auto;
}

.container4 {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto auto;
}

.container5 {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto auto auto auto;
}

.peas2 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.peas3 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.onions3 {
  grid-column-start: 2;
  grid-column-end: 4;
}

.tomatoes3 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.carrots3 {
  grid-column-start: 1;
  grid-column-end: 4;
}

.peas4 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.onions4 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.carrots4 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.carrots5 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
}

.tomatoes5 {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}

.peas5 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
}

.lettuce5 {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
}

.onions5 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
